<!DOCTYPE html>
<html>
    <head>
        <title>BoxerCounter</title>
        <style>
            .content {
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
                }
        </style>
    </head>
    <body>
        <div class="content">
            <h1>BoxerCounter</h1>
            <p>Conecta el lector de codigos y escanea el codigo de barras para
                registrar la caja</p>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Enviar">
            </form>
            <form method="post" action="{% url 'export_alumnos' %}">
                {% csrf_token %}
                <input type="submit" value="Exportar Reporte">
            </form>
            {% if result %}
            <p>{{result}}</p>
            {% endif %}
            <form method="get" action="{% url 'delete_alumnos'%}">
                {% csrf_token %}
                <input type="submit" value="Borrar Registros">
            </form>
        </div>
    </body>
</html>